- if @errors
  - @errors.each do |error_message|
    .alert.alert-danger= error_message
  

%h1= @report_heading

-@report.each do |section|
  = render partial: "report_section", locals: { section_title: section.title, columns: section.columns, line_items: section.line_items}