<h3>How to Use the Scans</h3>

The two things a trader needs to make a profitable trade are:

<div style="text-align: center; font-weight: bold; font-size: 24pt; font-style: italic;">1. Big Daily Range</div>
<div style="text-align: center; font-weight: bold; font-size: 24pt; font-style: italic; margin-bottom: 15px;">2. Strong Volume to Provide Liquidity</div>

MomentumStockScans.com is a tool to help traders find stocks with both of those elements. It is compatible with
a wide range of trading styles. What it does is help you <strong><em>find good stocks to trade</em></strong> and
<strong><em>compare stocks</em></strong> all on one screen so that you can easily find the <em>best</em> stocks for
fun and profit.<br />

<h3>Column Heading Meanings</h3>

On each of our scans you will find a table with a heading which looks like this:


<div class='report-container' style="margin-bottom: 25px;">
  <table class='table-bordered'>
    <thead>
    <th id='index' style='width: 25px;'></th>
    <th id='ticker-symbol' style='width: 60px;'>Symbol</th>
    <th class='rjust' id='last-trade' style='width: 50px;'>Last</th>
    <th class='rjust' id='percent-change' style='width: 90px;'>% Change</th>
    <th class='rjust no-decoration' id='volume' style='width: 100px'><a style="color: #FFFFFF;" href="/reports/active?sort_field=volume">Volume (K)</a></th>
    <th class='rjust' id='average-volume' style='width: 85px;'>Avg Vol (K)</th>
    <th class='rjust' id='volume-ratio' style='width: 85px;'>Volume Ratio</th>
    <th class='rjust divider-left' id='short-days-to-cover' style='width: 65px;'>Short<br />Ratio</th>
    <th class='rjust divider-right' id='short-percent-of-float' style='width: 65px;'>Short %<br />of Float</th>
    <th class='rjust' id='float' style='width: 65px;'>Float (M)</th>
    <th class='divider-right rjust' id='float-percent-traded' style='width: 65px;'>Float %</th>
    <th class='rjust' id='institutional-ownership-percent' style='width: 75px;'>IO %</th>
    </thead>
    <tr>
      <td>1</td>
      <td class='monospaced green'>ARNA </td>
      <td class='monospaced green rjust'>15.79</td>
      <td class='monospaced green rjust darkgreen-bg  bold'>13.3%</td>
      <td class='monospaced green rjust'>1129</td>
      <td class='monospaced green rjust'>267</td>
      <td class='monospaced green rjust yellow-bg'>4.2</td>
      <td class='divider-left green monospaced rjust'>4.1</td>
      <td class='divider-right green monospaced rjust'>3%</td>
      <td class='monospaced green rjust'>295</td>
      <td class='divider-right green monospaced rjust'>0%</td>
      <td class='monospaced green rjust'>35%</td>
    </tr>
    <tr>
      <td>2</td>
      <td class='monospaced green'>OTIC </td>
      <td class='monospaced green rjust'>16.20</td>
      <td class='monospaced green rjust darkgreen-bg'>9.1%</td>
      <td class='monospaced green rjust'>359</td>
      <td class='monospaced green rjust'>117</td>
      <td class='monospaced green rjust yellow-bg'>3.1</td>
      <td class='divider-left green monospaced rjust'>24.5</td>
      <td class='divider-right green monospaced rjust'>10%</td>
      <td class='monospaced green rjust'>24</td>
      <td class='divider-right green monospaced rjust'>2%</td>
      <td class='monospaced green rjust'>90%</td>
    </tr>
    <tr>
      <td>3</td>
      <td class='monospaced green'>AMD </td>
      <td class='monospaced green rjust'>12.64</td>
      <td class='monospaced green rjust'>6.0%</td>
      <td class='monospaced green rjust'>110126</td>
      <td class='monospaced green rjust'>43828</td>
      <td class='monospaced green rjust'>2.5</td>
      <td class='divider-left green monospaced rjust'>2.2</td>
      <td class='divider-right green monospaced rjust'>19%</td>
      <td class='monospaced green rjust'>842</td>
      <td class='divider-right green monospaced rjust'>13%</td>
      <td class='monospaced green rjust'>57%</td>
    </tr>
  </table>
</div>
<br />
<br />
Here is a brief description of each column heading and how to use it:

<ul>
  <li><strong>Last</strong> - Scans are compiled at regular intervals throughout the trading day. This is the most
       recently recorded price when the scan was compiled.</li>
  <li><strong>% Change</strong> - Percentage change in Last vs the previous day's close</li>
  <li><strong>Volume (K)</strong> - Number of shares traded for the day, in thousands. For premarket and afterhours
        scans, it is the number of shares traded in the corresponding extended hours session.</li>
  <li><strong>Volume Ratio</strong> - A ratio consisting of the <strong>Volume (K)</strong> divided by the
        stock's average daily volume over the past 50 days. This metric is important because it highlights stocks
        that are trading on strong volume relative to their own history. So if a stock's volume ratio
        is 3.0, that means it has traded 3 times the volume today than it trades on an average day.</li>
  <li><strong>Short<br />Ratio</strong> - Also known as the "days to cover" ratio, this is a ratio consisting of
        the stock's number of shares short in comparison to the stock's average daily volume over the past 50 days.
        Traders like to use the short ratio as a means of determining the likelihood of a "short squeeze".</li>
  <li><strong>Short % of Float</strong> - A ratio consisting of the stock's number of shares short divided by
        the <strong>Float</strong>. It can be used similarly to the <strong>Short<br />Ratio</strong>.</li>
  <li><strong>Float (M)</strong> - The number of shares of the stock that are freely traded on the market, in millions.
        Stocks with small numbers (&lt; 20 or so) are often called "low floaters". Because "low floaters" have a
        small number of shares available on the market, a smaller number of people can affect the stock price
        through buying and selling.</li>
  <li><strong>Float %</strong> - The ratio of the day's <strong>volume</strong> divided by the <strong>Float</strong>.
        When this number reaches 100%, it means that the number of shares traded today exceeds the number of
        shares available for trading on the stock market. i.e.) A large amount of stock is churning, changing
        hands among market participants.</li>
  <li><strong>IO %</strong> - Institutional Ownership - The percentage of the <strong>Float</strong> currently
        held by institutions, according to recent 13F filings of money managers.</li>
</ul>



<!--

* fishing analogy - go where the fishing is the best

-->