%h1 Momentum Stock Scans

.nav-button
  =link_to reports_premarket_path do
    %button.btn.btn-info{ type: 'button', style: 'width: 250px;'} Premarket

.nav-button
  =link_to reports_gaps_path do
    %button.btn.btn-info{ type: 'button', style: 'width: 250px;'} Gaps

.nav-button
  =link_to reports_active_path do
    %button.btn.btn-info{ type: 'button', style: 'width: 250px;'} Active Stocks

.nav-button
  =link_to reports_fifty_two_week_high_path do
    %button.btn.btn-info{ type: 'button', style: 'width: 250px;'} 52 Week Highs

.nav-button
  =link_to reports_after_hours_path do
    %button.btn.btn-info{ type: 'button', style: 'width: 250px;'} After Hours