body {
  background-color: #000000;
  color: #eeeeee;
}

button, input, optgroup, select, textarea {
  color: #000000;
}

.navbar-default .navbar-header {
  margin-right: 20px;
}

.navbar-default .navbar-nav > .active > a {
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a:hover {
  font-weight: bold;
  background-color: #d5a527;
}


.report-container {
  // set up the center alignment of the table
  width: 90%;
  margin: 0% 5%;
  padding-top: 30px;

  table {
    width: 100%;
    font-size: 9pt;
    th, td {
      padding: 2px;

    }
    tr:hover td { background:#666666 }
  }


  .table-bordered > tbody > tr > td {
    border: 0px;
    border-bottom: 1px solid $table-border-color;
  }

  .table-bordered > thead > tr > th {
    border: 0px;
    border-bottom: 1px solid $table-border-color;
  }

  .table-bordered > thead > tr > th.divider-left,
  .table-bordered > tbody > tr > td.divider-left {
    border-left: 2px solid #AAAAAA;
  }
  .table-bordered > thead > tr > th.divider-right,
  .table-bordered > tbody > tr > td.divider-right {
    border-right: 2px solid #AAAAAA;
  }

}

.align-right { text-align: right; }

.green {
  color: greenyellow;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.gold-bg {
  background-color: #afae44;
}

.yellow-bg {
  background-color: #77725a;
}

.darkgreen-bg {
  background-color: darkolivegreen;
}

.darkred-bg {
  background-color: darkred;
}

.monospaced {
  font-family: Lucida Console, Monaco;
  font-size: 9pt;
}

.rjust {
  text-align: right;
}

img.report-stock-icon {
  height: 15px;
  width: 15px;
}
